<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9iVn-6Ph5fLkQ2_5e3trgE67Spmri9jY</string>
	<key>GCM_SENDER_ID</key>
	<string>727830725517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-10ef1</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-10ef1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727830725517:ios:161a0940e6b089849b33c4</string>
</dict>
</plist>